<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>local.notebox.crawler.start</string>
	<key>Program</key>
	<string>/Users/veerpalbrar/notebox/notebox/scripts/crawl.sh</string>
    <key>StartInterval</key>
    <integer>3600</integer>
	<key>StandardOutPath</key>
	<string>/Users/veerpalbrar/notebox/notebox/scripts/logs/log.stdout</string>
	<key>StandardInPath</key>
    <string>/Users/veerpalbrar/notebox/notebox/scripts/logs/log.stdin</string>
    <key>StandardErrorPath</key>
    <string>/Users/veerpalbrar/notebox/notebox/scripts/logs/log.stderr</string>
</dict>
</plist>